.centro{

    position:absolute;
    height: 425px;
    width: 800px;
    background-color: antiquewhite;
    border: solid lightgrey 2px;
    border-radius:12px;
    margin-left:10%;

}

#proyector{

    position:relative;
    left:13%;
    top:1.7%;
}

.botonera{

    width:600px;
    background-color: coral;
    border-radius:7px;
    position:relative;
    left:13%;
    top:8px;

}

#imgAvanz{

    transform: scaleX(-1);
}

#play{

    /* Si le pongo un color de
    fondo se cambian las dimensiones 
    del boton */

}

#imgPlay, #imgAvanz, #imgRetro, #imgVol, #imgMute{

    margin-top: 4px;

}
#imgMute{

    position:relative;
    left:4px;

}

#play, #avanz, #retro{

    width:80px;

}

.banner{

    margin:0 auto;
    background-color: chartreuse;
    width: 300px;
    height:400px;

}