.centro{

    position:relative;
    height: 425px;
    width: 800px;
    background-color: antiquewhite;
    border: solid lightgrey 2px;
	border-radius:12px;
	float:left; /* Si no pongo float left el div "lateral" se queda abajo de "centro" */
    left:10%;

}

#proyector{

    position:absolute;
    left:13%;
    top:1.7%;
}

.barra{
	
	position:absolute;
    left:13%;
	top:348px;
	
}

 progress{
	
	width:600px;;
}


.foPub{
	
    position:absolute;
    left:13%;	
	height:410px;
	width:600px;
	top:7px;
	
	/* border:solid red 1px; */ 
}

.publi{
	
	position:absolute;
	background-color:white;
	height:300px;
	width:550px;
	left:25px;
	top:20px;
	border-radius:5px;
	
}

 .grupo_botones{

	position:relative;	
	width:590px;
	left:5px;
    /* top:10px; */  
} 

.botonera{

    width:600px;
    background-color: coral;
    border-radius:7px;
    position:absolute;
    left:13%;
    top:370px;
	

}

#equis{
	position:absolute;
	z-index:10;
	top:8px;
	width:30px;
	left:505px;
	display:none;
	
}

#cuenta{
	position:absolute;
	width:40px;
	height:40px;
	font-family:arial;
	font-weight:bold;
	z-index:10;
	color:black;
	top:270px;
	left:11px;
}

#chinpo{
	
	z-index:1;
}

button img{

	width:25px;

}



#imgAvanz{

    transform: scaleX(-1);
}

#play{

    /* Si le pongo un color de
    fondo se cambian las dimensiones 
    del boton */

}

#imgPlay, #imgAvanz, #imgRetro, #imgIni, #imgMute, #imgMenos, #imgMas{

    margin-top: 4px;

}
#imgMute{

    position:relative;
    left:4px;

}

#play, #avanz, #retro, #reiniciar, #mute, #menos, #mas{

    width:80px;

}

video{

	width:600px;
}

#proyector2{

	position:absolute;
	left:calc(50% - 150px);	
	top:20px;

}

#proyector3{

	position:absolute;
	left:calc(50% - 150px);	
	top:260px;

}

#proyector4{

	position:absolute;
	left:calc(50% - 150px);	
	top:500px;

}


#lateral{
	
	position: relative;	
	width:400px;
	height:900px;
    background-color: antiquewhite;
    border: solid lightgrey 2px;
    border-radius:12px;	
	left:1100px;	
	
}


